@tailwind base;
@tailwind components;
@tailwind utilities;


.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.Note{
    white-space: pre-wrap;
}

@media  screen and (max-width: 280px) {
    .Note {
      margin-top: 1.25rem;
    }
  }

  @media  screen and (max-width: 375px) {
    .Note {
      margin-top: 1.25rem;
    }
  }

  @media  screen and (max-width: 414px) {
    .Note {
      margin-top: 1.25rem;
    }
  }
  @media  screen and (max-width: 540px) {
    .Note {
      margin-top: 1.25rem;
    }
  }
  /* @media  screen and (min-width: 1023px) {
    .Note {
      margin-top: 1.25rem;
      width: 20rem;
    }
  }
  @media  screen and (max-width: 768px) {
    .Note {
      margin-top: 1.25rem;
      width: 20rem;
    }
  } */

  textarea{
    resize: none;
  }